$widthSite: 1200px;
$colorText: #8A2Be2;
$gapNav: 16px;
$borderBlock: 1px solid #000;

.container {
    width: $widthSite;
}

.greentext {
    color: $colorText;
}

.nav {
    display: flex;
    gap: $gapNav;

    &__link {
        text-decoration: none;

        &-item {
            color: white;

            &-text {
                size: 20px;
            }
        }
    }
}

.content {
    display: flex;
    gap: $gapNav;

    &__item {
        width: $widthSite / 4;
        border: $borderBlock;
        height: 200px;
    }
}