* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

summary {
    display: block;
}

.center {
    padding-left: calc(50% - 570px);
    padding-right: calc(50% - 570px);
}

.top {
    position: relative;
    overflow: hidden;
}

.header {
    background-color:black;
    fill: #222;
    min-height: 75px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.header__left {
    display: flex;
    align-items: center;
    gap: 41px;
}

.header__link {
    color: #E8E8E8;
    margin-top: 26px;
    margin-bottom: 20px;
}

.header__right { 
    display: flex;
    align-items: center;
    gap: 33px;
}

.top__content {
    display: flex;
    background: #F1E4E6;
    padding-left: calc(50% - 800px);
    padding-right: calc(50% - 800px);
    justify-content: space-evenly;
    align-items: center;
}

.top__img{
    width: 50%;
}

.top__info {
    border-left: 12px solid #F16D7F;
    padding-left: 16px;
    margin-top: -6%;
}

.colortext {
    color: #F16D7F;
}

.title {
    color: #222;
    font-family: Lato;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.subtitle {
    color: #222;
    font-family: Lato;
    font-size: 32px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.sale {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 400px);
    padding-top: 64px;
    padding-bottom: 96px;
    justify-content: center;
    justify-items: stretch;
}
.item__sale {
    position: relative;
}

.item__sale__big {
    position: relative;
}

.sale__content {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.item__sale__big {
    min-height: 180px;
    grid-column: 1 / -1;
}

.img__sale {
    background-color: rgba(20, 19, 19, 0.7);
    background-blend-mode: overlay;
    width: 100%;
}

.sale__text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
}

.sale__heading {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #F16D7F;
}

.product__img {
    width: 100%;
    background-position: center;
    background-size: cover;
    background-color: #F8F8F8;
}

.product__store {
    padding-bottom: 96px;
}

.product {
    position: relative;
}

.product__content {
    margin-top: 48px;
    display: grid;
    grid-template-columns: repeat(auto-fit, 360px);
    -webkit-box-pack: center;
    justify-content: center;
    gap: 30px;
}

.product__store__heading {
    color: #222;
    font-family: Lato;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
}

.product__store_text {
    color: #9F9F9F;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
}

.product__title {
    color: #000;
    font-family: Lato;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.product__text {
    color: #5D5D5D;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.product__price {
    color: #F16D7F;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.product__content__text {
    display: flex;
    width: 360px;
    padding: 24px 16px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 16px;
}

.button {
    display: flex;
    justify-content: center;
}

.button__text {
    display: block;
    width: 212px;
    height: 48px;
    text-align: center;
    line-height: 45px;
    color: #F26376;
    font-family: Lato;
    border: 1px solid #FF6A6A; 
}


@media (max-width: 1024px) {
    .center {
        padding-left: calc(50% - 376px);
        padding-right: calc(50% - 376px);
    }

    .header__left {
        padding-left: 32px; 
    }

    .header__right {
        padding-right: 41.01px;
    }

    .title {
        font-size: 44px;
    }

    .subtitle {
        font-size: 24px;
    }

    .top__img {
        padding-right: 39px;
    }

    .sale {
        display: grid;
        grid-template-columns: repeat(auto-fit, 232.392px);
        -webkit-box-pack: center;
        justify-content: center;
        gap: 19.9px;
    }
}

