.filter {
    position: relative;

    &__sort {
        padding-top: 39px;
        display: flex;
        gap: 30px;
        position: absolute;
    }

    &__sort__details {
        box-sizing: border-box;
        padding-top: 13px;
        position: relative;
        z-index: 10;
        min-width: 360px;

        &[open] .filter__sort__head {
            color: #EF5B70;
        }

        &[open] path {
            fill: #EF5B70;
        }

        &[open] {
            background: #FFF;
            box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
            z-index: 11;
        }
    }

    &__sort__content {
        background-color: #FFF;
        padding-top: 0;
        padding-right: 16px;
        padding-bottom: 16px;
        padding-left: 16px;
    }

    &__sort__summary {
        display: flex;
        align-items: center;
        gap: 11px;
        padding-left: 16px;
        padding-bottom: 16px;

    }

    &__sort__head {
        color: #000;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }

    &__sort__heading {
        color: #6F6E6E;
        ;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        border-left: 5px solid #EF5B70;
        display: flex;
        align-items: center;
        padding: 8px 11px 11px 11px;
        border-bottom: 1px solid #EBEBEB;
    }

    &__sort__item {
        padding-bottom: 18px;
    }

    &__sort__item[open] .filter__sort__heading {
        color: #EF5B70;
    }

    &__sort__link ul {
        display: flex;
        flex-direction: column;
        gap: 11px;
        padding: 24px 16px 0px;

    }

    &__sort__link__a {
        color: #6F6E6E;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;

        &:hover {
            color: #EF5B70;
        }
    }

}

.sorting {
    padding-top: 12px;
    display: flex;
    gap: 27.98px;

    &__details {
        position: relative;
        z-index: 9;
    }

    &__summary {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    &__check {
        display: flex;
        align-items: center;
        gap: 9px;
    }

    &__check {
        color: #6F6E6E;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        accent-color: #EF5B70;
    }

    &__heading {
        color: #6F6E6E;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    &__box {
        display: flex;
        flex-direction: column;
        gap: 8px;
        background: #FFF;
        box-shadow: 6px 4px 35px 0px rgba(0, 0, 0, 0.21);
        padding: 7px 30px 11px 9px;
        position: absolute;
        left: -9px;
        top: 22px;
        z-index: 10;
    }
}

.catalog__content {
    padding-top: 65px;
}

.pagination {
    display: flex;
    justify-content: center;
    padding-bottom: 96px;

    &__menu {
        height: 19px;
        display: flex;
        border: 1px solid #EBEBEB;
        border-radius: 4px;
        padding: 12px 15px;
        gap: 23px;

        &:hover {
            border-color: #EF5B70;
            transition: all 0.7s;
        }
    }

    &__menu__item {
        color: #C4C4C4;
        font-size: 16px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;

        &:hover {
            color: #EF5B70;
        }

        &:hover path {
            fill: #EF5B70;
        }
    }
}

.product__content {
    padding-bottom: 48.5px;
}


@media (max-width: 1024px) {

    .filter__sort {
        gap: 85px;
    }

    .product__content {
        gap: 16px;
        padding-bottom: 10px;
        display: grid;
    }


    .product__img__last {
        display: none;
    }

    .pagination {
        padding-bottom: 63.5px;
    }

    .bot__content {
        min-height: 610px;
        flex-wrap: nowrap;
        gap: 10px;
    }

    .icons {
        padding-top: 48.16px;
    }

    .subscribe__left {
        padding-top: 64px;
        padding-bottom: 48px;
    }

    .footer__bot {
        min-height: 79px;
        flex-direction: row;
        display: flex;
        justify-content: space-between;
        padding-left: 32px;
        padding-right: 24px;
    }
}

@media (max-width: 768px) {

    .filter__sort {
        gap: 61.5px;
    }

    .filter__sort__head {
        display: none;
    }

    .filter__sort_burger {
        width: 37px;
        height: 25px;
    }

    .sorting {
        gap: 23.98px;
        position: relative;
        right: 298px;
        z-index: 10;
    }

    .sorting__summary {
        gap: 8px;
    }

    .sorting__heading {
        font-size: 12px;
    }
}